* {
  font-family: "Source Sans Pro";
  font-size: 14pt;
}

@define-color base00 #212121;
@define-color base01 #303030;
@define-color base02 #353535;
@define-color base03 #4a4a4a;
@define-color base04 #b2ccd6;
@define-color base05 #eeffff;
@define-color base06 #eeffff;
@define-color base07 #ffffff;
@define-color base08 #f07178;
@define-color base09 #f78c6c;
@define-color base0A #ffcb6b;
@define-color base0B #c3e88d;
@define-color base0C #89ddff;
@define-color base0D #82aaff;
@define-color base0E #c792ea;
@define-color base0F #ff5370;

progress,
progressbar,
trough {
  border: 1px solid @base03;
}

trough {
  background: @base01;
}
.notification.low,
.notification.normal {
  border: 1px solid @base03;
}
.notification.low progress,
.notification.normal progress {
  background: @base0F;
}
.notification.critical {
  border: 1px solid @base08;
}
.notification.critical progress {
  background: @base08;
}
.summary {
  color: @base05;
}
.body {
  color: @base06;
}
.time {
  color: @base06;
}
.notification-action {
  color: @base05;
  background: @base01;
  border: 1px solid @base03;
}
.notification-action:hover {
  background: @base01;
  color: @base05;
}
.notification-action:active {
  background: @base0F;
  color: @base05;
}
.close-button {
  color: @base02;
  background: @base08;
}
.close-button:hover {
  background: lighter(@base08);
  color: lighter(@base02);
}
.close-button:active {
  background: @base08;
  color: @base00;
}
.notification-content {
  background: @base00;
  border: 1px solid @base03;
}
.floating-notifications.background .notification-row .notification-background {
  color: @base05;
}
.notification-group .notification-group-buttons,
.notification-group .notification-group-headers {
  color: @base05;
}
.notification-group .notification-group-headers .notification-group-icon {
  color: @base05;
}
.notification-group .notification-group-headers .notification-group-header {
  color: @base05;
}
.notification-group.collapsed .notification-row .notification {
  background: @base01;
}
.notification-group.collapsed:hover
  .notification-row:not(:only-child)
  .notification {
  background: @base01;
}
.control-center {
  background: @base00;
  border: 1px solid @base03;
  color: @base05;
}
.control-center .notification-row .notification-background {
  background: @base00;
  color: @base05;
}
.control-center .notification-row .notification-background:hover {
  background: @base00;
  color: @base05;
}
.control-center .notification-row .notification-background:active {
  background: @base0F;
  color: @base05;
}
.widget-title {
  color: @base05;
  margin: 0.5rem;
}
.widget-title > button {
  background: @base01;
  border: 1px solid @base03;
  color: @base05;
}
.widget-title > button:hover {
  background: @base01;
}
.widget-dnd {
  color: @base05;
}
.widget-dnd > switch {
  background: @base01;
  border: 1px solid @base03;
}
.widget-dnd > switch:hover {
  background: @base01;
}
.widget-dnd > switch:checked {
  background: @base09;
}
.widget-dnd > switch slider {
  background: @base06;
}
.widget-mpris {
  color: @base05;
}
.widget-mpris .widget-mpris-player {
  background: @base01;
  border: 1px solid @base03;
}
.widget-mpris .widget-mpris-player button:hover {
  background: @base01;
}
.widget-mpris .widget-mpris-player > box > button {
  border: 1px solid @base03;
}

.widget-mpris .widget-mpris-player > box > button:hover {
  background: @base01;
  border: 1px solid @base03;
}

/* SwayNC CSS for orange toggle buttons */

.toggle:checked {
  background: @base09; /* Orange background for checked state */
  border-color: @base09; /* Orange border for checked state */
}

.widget-buttons-grid > flowbox > flowboxchild > button {
  border-radius: 4px;
  border: 1px solid @base03;
}

.widget-buttons-grid > flowbox > flowboxchild > button:hover {
  border: 1px solid @base0A;
}
